.layout {
    display: flex;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;  
    align-items: flex-start;    
    height: calc(100vh - 60px); 
    font-size: 24px;
}
